/*
@font-face {
  font-family: 'Alibaba PuHuiTi Medium';
  src: url('/assets/fonts/Alibaba-PuHuiTi-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
*/

body {
  font-family: 'Alibaba PuHuiTi Medium';
}
